body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 1.2%;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -15px;
    color: black;
}

.pics {
    width: 25%;
    height: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 0px;
}

section {
    overflow: auto;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .nav-item {
        border-radius: 50%;
        width: 6em;
    }
}

.progress-bar {
    height: 2.5px;
}

.progress {
    height: 5px;
    line-height: 0.1;
}

@media screen and (max-width: 575px) {
    .nav-item {
        border-radius: 50%;
        width: 6em;
    }
}

a:hover {
    color: orangered;
}

.size {
    height: 50%;
    width: 50%;
    margin: auto;
}

.life {
    height: 60%;
    width: 80%;
}

.imagehead {
    align-items: center !important;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    background-position: 0;
}

#header {
    overflow: hidden;
}

#portfolio {
    position: relative;
    padding-bottom: 50px;
}

#portfolio .portfolio-list {
    margin-bottom: 50px;
}

#portfolio .portfolio-list .nav {
    display: inline-block;
    margin: 0;
}

#portfolio .portfolio-list .nav li {
    margin: 0 40px 0 0;
    float: left;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    cursor: pointer;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#portfolio .portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.portfolio-thumbnail {
    margin-bottom: 30px;
    overflow: hidden;
    min-height: 260px;
}

.portfolio-thumbnail img {
    max-width: 100%;
}